{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1> 리뷰 디테일 </h1>
<br>

{% if review.user == request.user %}
    <a href="{% url 'movies:review_update' movie.id review.id %}" class="btn btn-primary">수정하기</a>
    <form action="{% url 'movies:review_delete' movie.id review.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">삭제하기</button>
    </form>
{% endif %}

<br>

<h3>{{ review.movie.title }}의 리뷰</h3>
<h5>{{ review.title }}</h5>
<p>{{ review.user.username }}</p>



<!--댓글 목록-->
{% for comment in comments %}
	<div>
  댓글 작성자 : {{ comment.user.username }}
        내용 : {{ comment.content }}
        
        {% if comment.user == request.user %}
        <form action="{% url 'movies:review_comment_delete' movie.id review.id comment.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-secondary">댓글삭제</button>
        </form>
        {% endif %}

	</div>
{% endfor %}

<!--사용자 인증된 사람만 댓글 작성해!-->
{% if user.is_authenticated %}
<form action="{% url 'movies:review_comment_create' movie.id review.id %}" method="POST">
	{% csrf_token %}
	{% bootstrap_form comment_form %}
	<button>댓글작성</button>
</form>
{% endif %}

{% endblock %}