{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between">
    <div>
        <h1 style="color: white;">REVIEW</h1>
        <h5 style="color: white;">Let's Talk with <span style="color: #ea1f4f;">Godfilm</span></h5>
    </div>
    <div>
        <a href="{% url 'movies:review_create' %}" class="btn review-create">CREATE</a>
    </div>
</div>


<table class="table table-dark" style="margin-top: 60px;">
    <thead>
      <tr class="review-th">
        <th scope="col">num</th>
        <th scope="col">MOVIE</th>
        <th scope="col">TITLE</th>
        <th scope="col">Writer</th>
      </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
      <tr class="review-td">
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'movies:movie_detail' review.movie.id %}">{{ review.movie.title }}</a></td>
        <td><a href="{% url 'movies:review_detail' review.movie.id review.id %}">{{ review.title }}</a></td>
        <td><a href="{% url 'accounts:profile' user.username %}">{{ review.user.username }}</a></td>
      </tr>
    {% endfor %} 
    </tbody>
  </table>
    

{% endblock %}
