{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-start">
    <h1 style="color: white;"><span style="color: #ea1f4f;">{{ person.username }}</span>'s Profile</h1>
    {% if user != person %} <!--user = request.user, person = 프로필 주인-->
    <a href="{% url 'accounts:follow' person.username %}" class="mt-3 ml-3">
        {% if user in person.followers.all %}
            <i class="fas fa-user-plus" style="color: #ea1f4f;"></i>
        {% else %}
            <i class="fas fa-user-plus" style="color: white;"></i>
        {% endif %}
    </a>
    {% endif %}
</div>

<div class="follow-info">
    <span class="mr-2"> follower | {{ person.followings.all|length }}</span>
    <!--<p>팔로워 : {{ person_followings|length }}</p>-->
    <span class="mr-2"> following | {{ person.followers.all|length }}</span>
    <!--<p>팔로워 : {{ person_followers|length }}</p>-->
    <span class="mr-2"> comments | {{ person.moviecomment_set.count }}</span>
    <span class="mr-2"> reviews | {{ person.review_set.count }}</span>
</div>



<!-- 추천항목 -->
<h1 class="text-white mt-5"> GOD FILM's <span style="color: #ea1f4f;">PICK</span></h1>


<div class="row row-cols-1 row-cols-md-3">
    {% for actor in cast_list %}
    <div class="col mb-4 movie-card">
      <div class="card h-100">
            {% if actor.poster_path|length != 0%}
            <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ actor.poster_path }}" alt="">
        {% else %}
            <img src="{% static 'image/noprofile.png' %}" alt="">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Nanum Gothic', sans-serif; font-weight:bold">{{ actor.title }}</h5>
          <p class="card-text movie-overview" style="font-family: 'Nanum Gothic', sans-serif;">{{ actor.overview }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

    



<div class="d-flex justify-content-start">
    <h1 style="color: white; margin: 70px 0 30px 0;"><span style="color: #ea1f4f;">{{ person.username }}</span>'s Reviews</h1>
    <div class="follow-info" style="margin: 70px 0 30px 0;"><span class="ml-3 mt-3 px-2">{{  person.review_set.count }}</span></div>
</div>
{% for review in person.review_set.all %}
  <div class="card mb-2">
    <h5 class="card-header d-flex justify-content-between">
      <span style="font-family: 'Nanum Gothic', sans-serif; font-weight:bold"><a href="{% url 'accounts:profile' review.user %}" class="goprofile">{{ person.username }}</a>님의 리뷰</span>
      <a href="{% url 'movies:review_detail' review.movie.id review.id %}" class="btn review-more">MORE</a>
    </h5>
    <div class="card-body d-flex justify-content-between">
      <p class="card-text">{{ review.title }}</p>
      {% if review.user == request.user %}
      <form action="{% url 'movies:review_delete' review.movie.id review.id %}" method="POST">
        {% csrf_token %}
        <button class="btn delete-btn">X</button>
      </form>
      {% endif %}
    </div>
  </div>
{% endfor %}

<div class="d-flex justify-content-start">
    <h1 style="color: white;  margin: 70px 0 30px 0;"><span style="color: #ea1f4f;">{{ person.username }}</span>'s Comments</h1>
    <div class="follow-info" style="margin: 70px 0 30px 0;"><span class="ml-3 mt-3 px-2">{{ person.moviecomment_set.count }}</span></div>
</div>
<div class="card">
    {% for moviecomment in person.moviecomment_set.all %}
    <div class="card-body d-flex justify-content-between">
      <div>
        <span style="display: inline-block;">{{ moviecomment.movie.title }}</span> 
        <span style="display: inline-block;" class="comment-score">{{ moviecomment.score }}</span>
      </div>
      
      {% if moviecomment.user == request.user %}
      <form action="{% url 'movies:movie_comment_delete' moviecomment.movie.id moviecomment.id %}" method="POST">
        {% csrf_token %}
        <button class="btn delete-btn">X</button>
      </form>
      {% endif %}
    </div>
    {% endfor %}
</div>


{% endblock %}